body {
    background-image: "missy.png";
    background-color: #dad8c1;
}

.missy {
    width:423px;
    height:456px;
    background:URL("missy.png");
    animation: bounce .5s alternate infinite ease-in-out;
    animation-iteration-count: 6;
}

.missyparent {
    animation: lefttoright 3s; 
    animation-iteration-count: 1;
}

.parent {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -50px, 0);
    }
}

@keyframes lefttoright {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0, 0);
    }
}